/* Changing how padding is calculated to within a width instead of adding onto a width*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom Properties */

:root {
	/* Declare global CSS variables */
	--ff-primary: "Source Sans Pro", sans-serif;
	--ff-secondary: "Source Code Pro", monospace;

	--fw-light: 300;
	--fw-reg: 400;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #16e0bd;
	--clr-bg: #f9f6ee;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* General Styles */

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--clr-bg);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6; /* my go to line height*/
}

section {
	padding: 5em 2em;
}

img {
	display: block;
	/* height: 100%; */
	max-width: 100%;
}

strong {
	font-weight: var(--fw-bold);
}

:focus {
	outline: 3px solid var(--clr-accent);
	outline-offset: 3px;
}

/* Buttons */

.btn {
	display: inline-block;
	padding: 0.5em 2.5em;
	cursor: pointer;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
}

.work-btn {
	background: var(--clr-accent);
	text-decoration: none;
	color: var(--clr-dark);
	transition: transform 200ms ease-in-out;
}

.work-btn:hover {
	transform: scale(1.1);
}

.read-more-btn {
	position: relative;
	border: none;
	background: var(--clr-dark);
	transition: all 0.3s ease;
	color: var(--clr-light);
	line-height: 2em;
}

.read-more-btn:hover {
	background: transparent;
	color: #000;
	box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
		7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.read-more-btn:before,
.read-more-btn:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #000;
	transition: 400ms ease all;
}
.read-more-btn:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.read-more-btn:hover:before,
.read-more-btn:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.portfolio-item-btn {
	border-radius: 5px;
	background: transparent;
	transition: all 0.3s ease;
	position: relative;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;

	background: rgb(78, 172, 133);
	background: linear-gradient(
		0deg,
		rgb(78, 172, 133) 0%,
		rgb(22, 224, 189) 100%
	);
	border: none;
	color: var(--clr-light);
	padding: 10px 25px;
}

.portfolio-item-btn:before {
	height: 0%;
	width: 2px;
}
.portfolio-item-btn:hover {
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
		-4px -4px 6px 0 rgba(116, 125, 136, 0.5),
		inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
		inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

/* Typography */
h1,
h2,
h3 {
	line-height: 1; /* give a smaller line-height bcz they're headings*/
	margin: 0; /* usually want to reset margin-top */
}

h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}

.logo__title {
	font-family: var(--ff-secondary);
	color: var(--clr-dark);
	text-decoration: none;
}

.logo__title h3 {
	border-top: 3px solid var(--clr-dark);
	border-bottom: 3px solid var(--clr-dark);
	transition: transform 500ms ease;
}

.logo__title h3:is(:hover, :focus) {
	transform: scale(1.1);
}

.section__title {
	margin-bottom: 0.25em; /* Do margin and padding of text in em. bcz it's relative to the font-sizes*/
}

.section__title--intro {
	font-weight: var(--fw-light);
}

.section__title--intro strong {
	display: block;
}

.section__subtitle {
	margin: 0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
	background: var(--clr-accent);
	padding: 0.25em 1em;
	font-family: var(--ff-secondary);
	margin-bottom: 1em;
}

.section__subtitle--work {
	color: var(--clr-accent);
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}

.about-me__body {
	font-weight: var(--fw-reg);
}

.portfolio-item-individual p {
	font-size: var(--fs-h3);
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.logo {
	max-width: 100px;
}

.nav {
	position: fixed;
	background: var(--clr-dark);
	color: var(--clr-light);
	inset: 0;
	z-index: 100;

	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
	list-style: none;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav__link {
	color: inherit;
	font-weight: var(--fw-bold);
	font-size: var(--fs-h2);
	text-decoration: none;
}

.nav__link:hover {
	color: var(--clr-accent);
}

.nav-toggle {
	padding: 0.5em;
	background: transparent;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 1000;
}

.nav-open .nav {
	transform: translateX(0);
}

.nav-open .nav-toggle {
	position: fixed;
}

.nav-open .hamburger {
	transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
	transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
	opacity: 0;
}

.hamburger {
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	background: var(--clr-accent);
	width: 2em;
	height: 3px;
	border-radius: 1em;
	transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
}

.hamburger::before {
	top: 6px;
}
.hamburger::after {
	bottom: 6px;
}

/* Intro section */

.intro {
	position: relative;
}

.intro__img {
	box-shadow: var(--bs);
}

.section__subtitle--intro {
	display: inline-block;
}

@media (min-width: 600px) {
	.intro {
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas:
			"img title"
			"img subtitle";
		grid-template-columns: min-content max-content;
	}

	.intro__img {
		grid-area: img;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}

	.section__subtitle--intro {
		align-self: flex-start;
		grid-column: -1 / 1;
		grid-row: 2;
		text-align: right;

		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em);
	}
}

/* expierence section */
.my-services {
	background-color: var(--clr-dark);
	background-image: url(../images/services-bg.jpg);
	background-size: cover;
	/* background-blend-mode: multiply; */
	color: var(--clr-light);
	text-align: center;
}

.section__title--services {
	color: var(--clr-accent);
	position: relative;
}

.section__title--services::after {
	content: "";
	display: block;
	width: 2em;
	height: 1px;
	margin: 0.5em auto 1em;
	background: var(--clr-light);
	opacity: 0.25;
}

.services {
	margin-bottom: 4em;
}

.service {
	max-width: 500px;
	margin: 0 auto;
}

@media (min-width: 800px) {
	.services {
		display: flex;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	.service {
		flex-basis: 100%;
	}

	.service + .service {
		margin-left: 2em;
	}
}

/* About me section */

.about-me {
	max-width: 1000px;
	margin: 0 auto;
}

.about-me__img {
	box-shadow: var(--bs);
}

/* about-me hidden */
.about-me__body--read-more {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 500ms ease, max-height 500ms ease;
}

.about-me__body--buttons .read-more-btn {
	margin: 0 0.5em 1em;
}

@media (min-width: 600px) {
	.about-me {
		display: grid;
		grid-template-columns: 1fr 200px;
		grid-template-areas:
			"title img"
			"subtitle img"
			"text img";
		grid-column-gap: 2em;
	}

	.section__title--about {
		grid-area: title;
	}

	.section__subtitle--about {
		grid-column: 1 / -1;
		grid-row: 2;
		position: relative;
		left: -1em;
		width: calc(100% + 2em);
		padding-left: 1em;
		padding-right: calc(200px + 4em);
	}

	.about-me__img {
		grid-area: img;
		position: relative;
		z-index: 2;
	}
}

/* Skill section */
.skill-section {
	margin-bottom: 1rem;
}

.skills-section > .skills {
	display: flex;
	justify-content: center;
	margin: 1em auto;
}

.skills {
	width: 100%;
	/* margin: 1em 0; */
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
}
.skill {
	height: 22px;
	line-height: 22px;
	border-radius: 8px;
	padding: 0 8px;
	margin: 5px 8px 5px 0;

	font-weight: var(--fw-reg);
	font-size: var(--fs-body);

	transition: 50ms ease-out;
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	top: 0;
}

.skill:hover {
	top: -2px;
}

.language {
	background: #ffeeef;
	color: #e43d45;
}

.library-framework {
	background: #e8f8ff;
	color: #2da3da;
}

.other {
	background: #e2ffdf;
	color: #2e9450;
}

/* My work section */

.my-work {
	background-color: var(--clr-dark);
	color: var(--clr-light);
	text-align: center;
}

.portfolio {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
	background-color: var(--clr-accent);
	overflow: hidden;
}

.portfolio__img {
	transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
	position: relative;
	z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
	transform: scale(1.2);
	opacity: 0.75;
}

/* footer */
.footer {
	background-color: #111;
	color: var(--clr-accent);
	text-align: center;
	padding: 2em 0;
	font-size: var(--fs-h3);
}

.footer a {
	color: inherit;
	text-decoration: none;
}

.social-list__link:hover {
	opacity: 0.7;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

.social-list__item {
	margin: 0 0.5em;
}

.social-list__link {
	padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
	padding: 0 2em 2em;
	max-width: 1000px;
	margin: 0 auto;
}

.portfolio-item-individual p {
	max-width: 70ch;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-item-individual img {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	border-radius: 0.8rem;
}

.portfolio-item--button {
	width: 90%;
	margin: 40px auto;
	text-align: center;
}
